html, body {   position: relative;   height: 100%; }

body {   background: #fff;   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;   font-size: 14px;   color: #000;   margin: 0;   padding: 0; }
.w640 {width: 640px; margin: 0 auto;}
.swiper-container {   width: 100%;   height: 100%; }
.swiper-slide {   background-position: center;   background-size: cover; overflow:hidden;}
.swiper-slide-active .deom-p {   opacity: 1;   -webkit-transition-delay: 2s; }

.tran {-webkit-transition: .5s ease-out;
transition: .5s ease-out;}
.block {width: 300px; height: auto; background: #ff0500; margin: 0 auto;}

.loading {position: fixed;top:0;left: 0;right: 0;bottom: 0;z-index: 100;}
.loading .load-icon {position: absolute; left: 50%; top: 50%; margin-top: -32px; margin-left: -32px; border-radius: 10px; background: rgba(0, 0, 0, 0.76); height: 65px; box-shadow: 0 0 6px #000; box-sizing: border-box; padding-top: 11px; width: 65px; padding-left: 5px;}
.loading i {color: #fff; }

.pos-center {display: box; display: -webkit-box;display: -webkit-box; height: 100%; width: 100%;box-align: center; -webkit-box-align: center; }

/*-- item-ground --*/
.item-ground {width:auto; margin:0 auto;}
.itembk {background:#f60; width:auto; height:80px;}

.opa {opacity:0;}
.move-left {transform: translate3d(-100px,0,0); -webkit-transform: translate3d(-100%,0,0);  transition-delay: 0.5s; -webkit-transition-delay: 1.5s;}
.move-right {transform:translate3d(100%,0,0); -webkit-transform:translate3d(100%,0,0); transition-delay: 0.5s; -webkit-transition-delay: 2s;}
.move-down {transform:translate3d(0,100%,0); -webkit-transform:translate3d(0,100%,0); -webkit-transition-delay: 1s;}
.move-up {transform:translate3d(0,-100%,0); -webkit-transform:translate3d(0,-100%,0); -webkit-transition-delay: 0.5s;}
.circle-zoom {border: 1px solid #fff; border-radius: 50%; width: 100px;   height: 100px;  position:relative; background: transparent; margin:0 auto;}
.circle-zoom-ins { border: 1px solid #fff; border-radius: 50%; width: 100px; height: 100px; position: absolute; left: 0;
  top: 0; }

/*-- swiper-slide-active --*/
.swiper-slide-active .move-left {transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0);}
.swiper-slide-active .move-right {transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0);}
.swiper-slide-active .move-down {transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0);} 
.swiper-slide-active .move-up {transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0);}
.swiper-slide-active .circle-zoom-ins {animation:zoomfadeOut 1.5s infinite 3s ; -webkit-animation:zoomfadeOut 1.5s infinite 3s; }

.swiper-slide-active .opa{opacity:1;}

/* arrow-down */
.arrow-down {position: fixed; left: 50%; z-index: 100; bottom: 10px; text-align:center;  width: 50px; height: 50px; margin-left: -25px; animation:arrow 1.5s infinite; 
-webkit-animation:arrow 1.5s infinite;}
.arrow-down:after {content: " "; position: absolute; border-top: 25px solid #f60; border-left: 25px solid transparent; border-right: 25px solid transparent; border-bottom: 25px solid transparent; margin-left: -25px;}

@keyframes arrow{
  0%{transform:translateY(0px); opacity:1; }
  50% {transform:translateY(15px); opacity:0.5; }
  100%{transform:translateY(0px); opacity:1;}
}

@-webkit-keyframes arrow{
  0%{-webkit-transform:translateY(0px); opacity:1; }
  50% {-webkit-transform:translateY(15px); opacity:0.5; }
  100%{-webkit-transform:translateY(0px); opacity:1;}
}

@keyframes zoomfadeOut{
  0%{transform:scale(1); opacity:0.8; }
  100%{transform:scale(1.5); opacity:0;}
}

@-webkit-keyframes zoomfadeOut{
  0%{-webkit-transform:scale(1); opacity:0.8; }
  100%{-webkit-transform:scale(1.5); opacity:0;}
}

.flip-container { width:320px; height:300px; margin:0 auto;  -webkit-transition:opacity .5s ease-out; transition:opacity .5s ease-out; opacity:1; -webkit-perspective:1000; perspective:1000; }
.flipper { position:relative; width:267px; height:300px; margin:0 auto; -webkit-transform-style:preserve-3d; transform-style:preserve-3d; -webkit-transform-origin:100% 150px; transform-origin:100% 150px; -webkit-transition:all 1s linear; transition:all 1s linear }
.flip .flipper{ -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }
.back, .front { backface-visibility:hidden; position:absolute; top:0; left:0; width:300px; height: 300px;}
.front { z-index:2; opacity:1; background : #f60;}
.back { transform:rotateX(-180deg); -webkit-transform:rotateX(-180deg);   background: #f00; z-index:2;}
